<form id="searchthis" action="/search" style="display:inline;" method="get">
  <input id="namanyay-search-box" name="q" size="40" type="text" placeholder="Search"/>
  <input id="namanyay-search-btn" value="Go" type="submit"/>
</form>