<html>
  <body>
    <h3> <%=@a_entry[:name]%> </h3>
    <ul>
      <% @a_entry[:links].each do |e| %>
        <li><a href="<%= e[:url]%>"> <%= e[:url] %> </a></li>
      <% end %>
    </ul>
  </body>
</html>